.base-one-row {
  border-bottom: 1px red solid;
  .avatar {
    width: 300px;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}
.search {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
}

.one-row {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;

  .avatar {
    width: 80px;
  }
  .item-description {
    display: inline-block;
    margin-left: 10px;
    width: 900px;
    vertical-align: top;
    .name{
      font-size: 20px;;
    }
  }
  
  .require-list {
    // background: #f7f7f7;
    margin-top: 10px;
    .require-item {
      width: 350px;
      display: inline-block;
      .require-avatar {
        width: 60px;
      }

      .of {
        // outline: 1px red solid;
        position: relative;
        width: 200px;
        height: 240px;
        .label {
          display: inline-block;
          position: absolute;
          width: 100%;
          line-height: 40px;
        }
        .of-avatar {
          width: 100%;
          position: absolute;
          top: 40px;
        }
      }
    }
  }
}
